* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
header{
  height: 15vh;
}
.list-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 0 20px;
}

.nav-item {
  margin: 5px;
  padding: 10px 0;
}
#nav-item {
  background-color: #2e73f2;
  color: white;
  padding: 5px 10px;
}

.icono {
  max-width: 30px;
  max-height: 30px;
}
.icono img {
  max-width: 100%;
  max-height: 100%;
}

main{
  height: 70vh;
}
.imagen-principal{
    max-width: 35vw;
    margin:auto;
    
}
.imagen-principal img{
    max-width: 100%;
}


.formulario{
    display: flex;
    justify-content: center;
  
}
#buscador{
    width:40vw;
    padding: 8px;
    border-radius:15px;
    border: 1px solid rgb(133 133 133 / 38%);
} 
.botones{
    display: flex;
    justify-content: center;

}
.boton{
  margin: 10px;
  color:#747474;
  font-weight: bolder;
  padding: 10px;
  background-color: #7474741a;
  border: none;
  border-radius: 5px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 15vh;
 
}
.footer-item{
  display: flex;
  list-style: none;

}
.icono-peru{
  max-width: 30px;
  max-height: 30px;
}
.imagen-peru{
  max-width: 100%;
  max-height: 100%;
}
.list-item{
  margin :10px;
  color:#747474;
  font-weight: 600;
}